<div id="container_login">
 	<div id="login_child">
    <h1 id="welcome">WELCOME!</h1>
    
    <a id="registrationlink" href="/users/new"><h3>First time visitors register here!</h3></a>
 
 	<%= form_tag("/sessions", :method => "post", :multipart => true) do %>
    	<div class="label_login">Email</div>
		<input type="text" name="email" id="email" class="blurry"/>
		<br/>
    
    	<div class="label_login">Password</div>
		<%= password_field_tag :password, '', :class => 'blurry' %>
		<br/> 
        <%= submit_tag "Login" %>
        <%= hidden_field_tag 'previous_page', @link %>
     <% end %>
  	 <p id="notice"><%= notice %></p>	
	</div>
 </div>