<div id="container" style="width:400px">
 	
    <h1 id="welcome">WELCOME!</h1>
    
    <a id="registrationlink" href="/users/new"><h3>First time visitors register here!</h3></a>
 
 	<%= form_tag("/sessions", :method => "post", :multipart => true) do %>
    	<label>Email</label><br/>
		<input type="text" name="email" id="email" class="blurry"/>
		<br/>
    
    	<label>Password</label></br/>
		<%= password_field_tag :password, '', :class => 'blurry' %>
		<br/> 
        <%= submit_tag "Login" %>
        <%= hidden_field_tag 'previous_page', @link %>
     <% end %>
  	 <p id="notice"><%= notice %></p>	
 </div>