<div id="container1">
    <%= make_menu %>
    <%= make_menu_page %>
    
    <div id="main">
        <% @posts.each do |post| %>
            <div class="pic_list">
            <% if post.post_type == "image" %>
                  <%= link_to(post) do %>
                    <img src='<%= post.file %>' />
                  <% end %>
            <% end %>
            <p class="created_at"><%= post.created_at %></p>
            </div>
        <% end %>
    </div>
    
</div>