<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Type:</b>
  <%= @post.post_type %>
</p>

<p>
  <b>File:</b>
  <% if @post.post_type == "image" %>
      <img src='/data/<%= @post.file %>' />
  <% end %>
</p>

<p>
  <b>Active:</b>
  <%= @post.active %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
