<div id="menu">
	<a <%= isSelected?('home')  %> href="/" ><p>START</p></a>
	<a <%= isSelected?('maps')  %> href="/pages/maps" ><p>TRACK</p></a>
    <a <%= isSelected?('pics') %> href="/pages/pics" ><p>PHOTO</p></a>
    <a <%= isSelected?('videos')  %> href="/pages/videos" ><p>VIDEO</p></a>
    <a <%= isSelected?('poetry')  %> href="/pages/poetry" ><P>MOVED</P></a>
</div>