<div id="menu">
	<a <%= isSelected?('home')  %> href="/" ><p>START</p></a>
	<a <%= isSelected?('map_location')  %> href="/map_location" ><p>TRACK</p></a>
    <a <%= isSelected?('pics') %> href="/pages/pics" ><p>PHOTO</p></a>
    <a <%= isSelected?('videos')  %> href="/pages/videos" ><p>VIDEO</p></a>
    <a <%= isSelected?('poetry')  %> href="/pages/poetry" ><P>MOVED</P></a>
    <a <%= isSelected?('blog')  %> href="/pages/blog" ><P>BLOG</P></a>
</div>